<!DOCTYPE html>
<html lang="en">
<head>
    <!-- File: templates/base.html -->
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename= 'css/tailwind.css') }}"/>
    {% block styles %}{% endblock %}

</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal flex
             flex-col justify-between h-screen">

{% include 'components/header.html' %}

<div class="mb-auto mt-24">
    <div class="container shadow-lg mx-auto bg-white mt-6 md:mt-18 p-6 mb-12">
        {% block main %}{% endblock %}
    </div>
</div>

{% include 'components/footer.html' %}

{% block js %}{% endblock %}

</body>
</html>
