{% extends 'base.html' %}
<!-- Name:      templates/db-rainfall.html
     Purpose:   Display Data from a DB -->

{% block title %}
Rainfall | Flask Demo
{% endblock %}

{% block main %}
<main class="py-6 ">
    <h1 class="text-4xl">Rainfall</h1>
    <div class="w-3/4 mx-auto">
        <!-- table>((thead>tr>th*3)+(tbody>tr>td*3)+(tfoot>tr>td*3)) -->
        {% if days>0 %}
        <table class="w-full text-left rounded-lg">
            <thead>
            <tr class="text-gray-200 border border-b-0 bg-gray-900">
                <th class="w-1/6 p-2 text-right">ID</th>
                <th class="w-1/6 p-2 text-left">Date</th>
                <th class="w-1/2 p-2 text-left">Location</th>
                <th class="w-1/6 p-2 text-right">Rainfall (mm)</th>
            </tr>
            </thead>
            <tbody>
            {% for data in rainfall %}
            <tr class="w-full font-light text-gray-700 border border-b-0">
                <td class="p-2 text-right">{{ data.id }}</td>
                <td class="p-2 text-left">{{ data.date_recorded }}</td>
                <td class="p-2 text-left">{{ data.location }}</td>
                <td class="p-2 text-right">{{ data.rainfall }}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td class="bg-gray-700 text-gray-100 p-3 text-left">
                    Total Days: {{ days }}
                </td>
                <td class="bg-gray-700 text-gray-100 p-3 text-right">&nbsp;</td>
                <td class="bg-gray-700 text-gray-100 p-3 text-right">&nbsp;

                <td class="bg-gray-700 text-gray-100 p-3 text-right">
                Average: {{ mean_rain }}mm
                </td>
            </tr>
            </tfoot>
        </table>
        {% else %}
            <h3 class="p-4 bg-red-700 text-white rounded">No Data to display</h3>
        {% endif %}
    </div>
</main>
{% endblock %}
