{% extends 'base.html' %}
<!-- Name:      templates/db-rainfall.html
     Purpose:   Display Data from a DB -->

{% block title %}
Rainfall | Flask Demo
{% endblock %}

{% block main %}
<main class="py-6">
    <h1 class="text-4xl">Rainfall</h1>
    <div class="w-3/4 mx-auto">
    <!-- table>((thead>tr>th*3)+(tbody>tr>td*3)+(tfoot>tr>td*3)) -->
    <table class="w-full text-left rounded-lg">
        <thead>
        <tr class="text-gray-200 border border-b-0 bg-gray-900">
            <th class="w-1/3 p-2 text-right">ID</th>
            <th class="w-1/3 p-2 text-right">Location</th>
            <th class="w-1/3 p-2 text-right">Rainfall (mm)</th>
        </tr>
        </thead>
        <tbody>
        {% for data in rainfall %}
        <tr class="w-full font-light text-gray-700 border border-b-0">
            <td class="p-2 text-right">{{ data.id }}</td>
            <td class="p-2 text-right">{{ data.location }}</td>
            <td class="p-2 text-right">{{ data.rainfall }}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td class="bg-gray-700 text-gray-100 p-3 text-right">&nbsp;
            </td>
            <td class="bg-gray-700 text-gray-100 p-3 text-right">{{ days
                }}
                Days</td>
            <td class="bg-gray-700 text-gray-100 p-3 text-right">{{
                mean_rain
                }}mm
                Avg</td>
        </tr>
        </tfoot>
    </table>
</div>
</main>
{% endblock %}
