<!-- File: templates/components/footer.html -->
<footer class="bg-gray-700 text-gray-100">
    <div class="flex flex-wrap p-6 px-10 w-3/4 mx-auto">
        <div class="w-1/2">
            <p>&copy; 2021 YOUR_NAME and Adrian Gould.</p>
        </div>
        <div class="w-1/2">
            <h6 class="font-bold">Links</h6>
            <ul class="flex flex-wrap">
                <li>
                    <a href="/"
                       class="mx-2 ml-0 hover:text-blue-400">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/about"
                        class="mx-2 hover:text-blue-400">
                        About
                    </a>
                </li>
                <li>
                    <a href="/details"
                        class="mx-2 mr-0 hover:text-blue-400">
                        Details
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
